{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "useBuiltIns": "entry",
                    "corejs": { "version": 3  },
                    "targets": {
                        "ie": "9"
                    }
                },
                "transform-runtime": {},
                "styled-jsx": {},
                "class-properties": {}
            }
        ]
    ],
    "plugins": [
    ]
}