.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.title {  
}
.title > span {
  font-size: 1.25em;
  color: #430303;
}

.routeNav {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.ani-container {
  width: 100%;
  height: 100px;
  padding: 0 24px;
  margin: 8px 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ani-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}

.box {
  width: 25px;
  height: 25px;
  background-color: green;
}
